:root{
	color-scheme: light dark;
}




body{
	min-height:800px;
	background-image: url(Projectbg.PNG);
	color : whitesmoke;
	display : flex;
	justify-content : space-evenly;
	
	
}
h3{
	color: powderblue;
	font-family: calibri;
	
	
}
a{
	text-decoration:none;
	padding:10px;
	
}
Button
{
	background-color:powderblue;
	color: black;
	font-size : 15px;
	font-family:Readex Pro, sans-serif;
	padding : 0.5em 1em;
	border-radius: 1em;
	border: none;
	outline:1px solid black;	

	cursor:pointer;
	
	
	
}
.service
{
	
	height: 180px;
	width : 220px;
	border-radius: 1em;
	background-color:rgba(153, 98, 144, 0.253);
	backdrop-filter: blur(20px);
	border: 1px solid rgba(255,255,255,0.5);
	box-shadow: 0 8px 32px rgba(0,0,0,0.15);
	color:white;
	flex-grow:1;
	
	

}

.charc
{
	margin-top:50px;
	border-radius: 1em;
	background-color:rgba(153, 98, 144, 0.253);
	backdrop-filter: blur(20px);
	border: 1px solid rgba(255,255,255,0.5);
	box-shadow: 0 8px 32px rgba(0,0,0,0.15);
	color:white;
	
	gap: 20px;
	flex-wrap: wrap;
	min-height:250px;
	padding : 0.5em 1em;
	
}
dl
{
	text-align :left;
	display:flex;
	justify-content : space-evenly;
	padding : 0.5em 1em;
	
}
Button:Hover
{
	background-color: powderblue;
	
}
.start
{
	
	
	
	top: 10px;
	
}
p
{
	padding : 0.5em 1em;
}

td
{

	background-color:#D6B9FC;
	color:#50207A;
	border-radius: 1em;
	
	
	
	
}
Th
{
	background-color:#D6B9FC;
	color:#50207A;
	border-radius: 1em;
}
.supser
{
	display:flex;
	gap: 20px;
	flex-wrap: wrap;
	justify-content: space-around;
	margin-top:50px;
}
.welc
{
	margin-top:100px;
	justify-content:center;
	text-align: center;
}
dt

{
	font-weight: bold;
	list-style-type: circle;
	padding : 0.5em 1em;
}